.MainContainer {    
    display: flex;
    opacity: 90%;
    border-width: 0.1px;
    padding: 50px;
    box-sizing: border-box;
    transition: 1s;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.MainContainer-dark {
    background-color: black;
    color: white;
    /* border: solid white; */
}

.MainContainer-light {
    background-color: white;
    color: black;
    /* border: solid black; */
}

.LeftContainer {
    width: 30%;
}