.Navbar {
    height: 100%;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 22px;
}

.Link {
    text-decoration: none;
    margin-bottom: 15px;
    transition: 0.5s;
}

.Link:hover {
    font-size: 30px;
}

.Link-dark {
    color: white;
}

.Link-light {
    color: black;
}

nav a.active {
    font-weight: 600;
    font-size: 30px;
}