.ButtonsContainer {
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 50px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.Button {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 1s;
}

.Button-light-selected {
    border-color: white;
    background-color: white;
}

.Button-dark-selected {
    border-color: black;
    background-color: black;
}

.Button-light-not-selected {
    border: solid white;
    border-width: 1px;
}

.Button-dark-not-selected {
    border: solid black;
    border-width: 1px;
}

.ButtonText {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    transition: 1s;
}

.ButtonText-dark {
    color: black;
}

.ButtonText-light {
    color: white;
}