.ContactContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.Icon {
    position: relative;
    top: 0;
    font-size: 100px;
    transition: top ease 0.5s;
}

.Icon:hover {
    top: -10px;
}

.ContactLink {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.ContactLink-dark {
    color: white;
}

.ContactLink-light {
    color: black;
}

.ContactLinkText {
    font-size: 32px;
}
