.ContactContainer {
    
}

.ContactLink {
    text-decoration: none;
    font-size: 32px;
    margin-right: 50px;
}

.ContactLink:hover {
    font-weight: 600;
}

.ContactLink-dark {
    color: white;
}

.ContactLink-light {
    color: black;
}