.Navbar {
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 22px;

}

.Link {
    text-decoration: none;
}

.Link:hover {
    font-weight: 600;
}

.Link-dark {
    color: white;
}

.Link-light {
    color: black;
}